body,html{
    margin: 0;
    padding: 0;
    }
    .newUser_date_selection_box {
      width: 15%;
      float: left;
      margin-top: 300px;
    
      margin-left: 20px;
      padding-left: 0px;
      margin-right: 30px;
      margin-top: 0;
      height: 635px;
      position: relative;
      
      border: 3px solid rgb(183, 177, 177);
      border-radius: 6%;
   
      
    }
    .FromContainer {
      padding-right: 50px;
      display: flex;
      margin-top: 10%;
      margin-right: 0%;
      justify-content: space-between;
      padding: 5px;
    }
    .ToContainer {
     
      display: flex;
      margin-top: 10%;
      margin-right: 0%;
      justify-content: space-between;
      padding: 5px;
    }
    
    
    .drawer {
      height: 300px !important;
    }
    .datepicker {
      align-items: center;
      height: 20px;
      padding: 10px;
    }
    
    .bothbuttons {
     /* height: 100px; */
     justify-content: center;
     align-items: center;
    padding-left: 180px;
    margin-right: 100px !important;
    padding-right: 250px;
   margin:0;
padding-top: 5px;
      display:flex;
    
    }
    .drawer {
      flex-shrink: 0;
      width: 240px;
      background-color: #fff;
    }

    .linechart-btn {
      margin-left: 30%;
    padding-right: 8px;
    }
    .barchart-btn {
      margin-left: 4%;
    }
    .newUser_chartcomponent {
      width: 78%;
      height: 625px;
      display:grid;
      margin-top: 0;
      padding: 10px;
    
      justify-content: space-between;
      
      
      border-radius: 15px;
      
      box-shadow: rgba(53, 121, 190, 0.2) 0px 8px 24px;
    }
    .FullnewUserContainer {
     padding-top: 30px;
     margin: 0;
   
    }
    
    
    @media only screen and (max-width: 1340px)
    {
      
       .newUser_date_selection_box {
        margin-left: 400px;
        width: 500px;
        height: 300px;
        /* margin-left: 150px;
        justify-content: center;
        align-items: center;
        height:40%;
        width: 50%;
        
        width: 15%;
        float: left;
        margin-top: 300px;
      
        margin-left: 20px;
        padding-left: 0px;
        margin-right: 30px;
        margin-top: 0;
        height: 635px;
        position: relative;
        
        border: 3px solid rgb(183, 177, 177);
        border-radius: 6%; */
     
        
      }
      .newUser_chartcomponent {
        width: 78%;
        height: 625px;
        display:grid;
        margin-left: 100px;
        margin-top: 0;
        padding: 10px;
      
        justify-content: space-between;
        
        
        border-radius: 15px;
        
        box-shadow: rgba(53, 121, 190, 0.2) 0px 8px 24px;
      }
      .FromContainer {
        padding-right: 50px;
        display: flex;
        margin-top: 10%;
        margin-left: 120px;
        margin-right: 100px;
        justify-content: space-between;
        padding: 5px;
      }
      .ToContainer {
       
        display: flex;
        margin-top: 10%;
        margin-left:120px;
        margin-right: 100px;
        justify-content: space-between;
        padding: 5px;
      }
      .submit-btn{
        padding-bottom: 100px;
        margin-left: 120px;
        margin-bottom: 100px;
        align-items: center;
        justify-content: center;
      }

}
    