.x{
    background: 'white';
}


.hello1{
    background: blue;
    color: black;
}

.stats_bar{
    align-items: center;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.order_trend{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: yellow; */
    margin: 20px;
}

.chipObject{
    display: flex;
    flex-direction: row;
    width: 150px;
    background-color: rgb(198, 198, 198);
    border-radius: 25px;
    justify-content: space-around;
    margin: 5px;
}

.compareTab{
    display: flex;
    width: 80%;
    flex-direction: row;
}